<h2>Demo</h2>

<div style="position: relative">
  <ui-overlay>
    <ui-spinner></ui-spinner>
  </ui-overlay>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut aliquam pulvinar neque id feugiat. Nullam eget ullamcorper erat, eget faucibus enim. Nam ac porttitor mauris, maximus consectetur libero. Praesent libero orci, luctus sed mollis ut, dictum quis augue. Sed efficitur urna at sem maximus, ac feugiat mi bibendum. Vestibulum ut facilisis nisl. Etiam euismod suscipit condimentum. Nullam tincidunt nisl nulla, ac scelerisque turpis porta eget. Quisque augue nunc, condimentum lobortis lorem sed, aliquet consectetur lectus.
  Nam molestie erat in dignissim iaculis. Curabitur vitae sapien lacinia, convallis justo vitae, fringilla leo. Sed congue tincidunt ex, maximus dignissim leo mattis in. Etiam pharetra sed nulla in tristique. Nullam porta euismod eros id ullamcorper. Integer rhoncus nibh vel tortor venenatis, porta pulvinar nisi pharetra. Maecenas sit amet ultrices eros.
  Praesent ante tortor, luctus id nisi sit amet, vehicula faucibus lorem. In at neque quis nulla lobortis efficitur at eget sem. Nullam consectetur felis sed urna pulvinar, tempor porta felis fringilla. Ut vulputate enim ut ligula porttitor, sed sodales ligula lobortis. Mauris tristique auctor congue. Vestibulum congue, lectus vel feugiat euismod, eros massa condimentum nisl, ut condimentum libero metus in lectus. Ut eget consequat enim. Sed vulputate sed libero laoreet vulputate. Pellentesque a odio luctus, gravida nunc quis, sollicitudin felis. Aenean tincidunt quam massa, id mattis ex malesuada a. Fusce scelerisque ante eget lacus dapibus, sed ullamcorper ex luctus.
  Aenean ut urna finibus, vulputate erat non, pharetra orci. Nam vulputate viverra magna vel accumsan. Etiam laoreet, massa vel suscipit ultrices, tortor sapien efficitur urna, et fermentum nisi eros eget libero. Vestibulum tempor posuere velit, et ornare turpis faucibus quis. Mauris id neque eu sem faucibus ornare. Vestibulum viverra interdum iaculis. Suspendisse eleifend, tellus at condimentum dictum, eros augue pretium arcu, quis lobortis nunc orci ac lacus. Pellentesque eget enim non urna finibus tristique id sagittis nunc.
  Morbi viverra cursus massa ut pellentesque. Phasellus ut arcu sit amet dolor venenatis ultrices ac ac nulla. Aenean aliquet lectus at quam lacinia pellentesque. Nam tincidunt leo ante, quis blandit ligula varius in. Maecenas ultrices justo risus, id pretium magna consectetur at. Aliquam ac justo mollis, venenatis eros ac, aliquet nisi. Ut ligula justo, laoreet ac maximus id, lacinia eu est. In massa risus, bibendum sit amet ante at, pellentesque suscipit tellus. Praesent a commodo leo. Etiam non consequat quam. Cras malesuada erat non libero viverra porta.
</div>

<hr>

<div style="max-width: 400px">
<ui-select [items]="items" #selector></ui-select>
</div>

<hr>

<ui-treeview [root]="tree"></ui-treeview>